[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
pytest = "*"

[requires]
python_version = "3.8"
